.NewsGrid {
  width: 100%;
  justify-content: center;
  margin: auto;
}

.HorizontalLine {
  width: 1170px;
  border: 1px solid #e4e4e4;
  margin-top: 16px;
  margin-bottom: 16px;
  display: none;
}

@media (min-width: 320px) {
  .NewsGrid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, 290px);
  }
}

@media (min-width: 750px) {
  .NewsGrid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, 345px);
    max-width: 720px;
  }
}

@media (min-width: 1170px) {
  .NewsGrid {
    max-width: 1140px;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    align-items: flex-start;
  }

  .HorizontalLine[length="true"] {
    display: inline;
  }
}
