.Container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  margin: auto;
  font-family: Lato;
  font-weight: 400;
  color: #3E433E;
  text-transform: uppercase;
}

.Title {
  line-height: 29px;
  font-size: 24px;
}

.Interests {
  margin-bottom: 50px;
  margin-top: 60px;
}

.InterestsLabel {
  line-height: 17px;
  font-size: 14px;
}

.Items {
  margin-top: 20px;
}

.BackToHomeButton {
  border: none;
  cursor: pointer;
  color: #4A90E2;
  font-size: 16px;
  font-family: Lato;
  font-weight: 400;
  text-transform: uppercase;
  outline: none;
  padding: 27px;
}
