.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  border-bottom: 1px solid #979797;
  box-sizing: border-box;
  z-index: 15;
  display: flex;
  justify-content: center;
}

.Toolbar nav {
  height: 100%;
}

.ToolbarContainer {
  height: 56px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  margin: auto;
  padding-left: 27px;
}

@media (min-width: 750px) {
  .ToolbarContainer {
    padding-left: 52px;
  }
}

@media (max-width: 1169px) {
  .DesktopOnly {
    display: none;
  }
  .MobileOnly {
    flex: 1;
  }
}

@media (min-width: 1170px) {
  .MobileOnly {
    display: none;
  }
}
