.NavigationItems {
  margin: 7px 0 0 32px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  height: 100%;
}

@media (min-width: 1170px) {
  .NavigationItems {
    flex-flow: row;
  }
}
