.SideDrawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  margin-top: 24px;
  z-index: 10;
  background-color: white;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

@media (min-width: 1170px) {
  .SideDrawer {
    display: none;
  }
}

.Open {
    transition: translateX(0);
}

.Close {
  transform: translateX(-100%);
}
