.Button {
  width: 242px;
  background-color: #4990E2;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 16px 96px;
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.Button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 4px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 0.3;
  }
  20% {
    transform: scale(25, 25);
    opacity: 0.3;
  }
  60% {
    transform: scale(40, 40);
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: scale(60, 60);
  }
}

.Button:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}
