.NavigationItem {
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-family: Lato;
  font-weight: 400;
  line-height: 17px;
  font-size: 14px;
  color: #3E433E;
  text-transform: uppercase;
  margin-bottom: 31px;
}

.NavigationItem:first-child {
  margin-top: 25px;
}

.NavigationItem a {
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
  color: #3E433E;
  font-size: 14px;

}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #4990E2;
}

@media (min-width: 1170px) {
  .NavigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    padding-left: 29px;
  }

  .NavigationItem:first-child {
    margin-top: 0;
  }

  .NavigationItem:last-child {
    padding-left: 54px;
    padding-right: 64px;
  }

  .NavigationItem a {
    color: white;
    height: 100%;
    padding-top: 16px;
    border-bottom: 4px solid transparent;
    color: #3E433E;
    font-size: 14px;

  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    color: #4990E2;
  }
}
