.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.Form {
  width: 242px;
}

.Title {
  color: #3e433e;
  font-family: Lato;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.Label {
  color: #3e433e;
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 10px;
}

.Input {
  height: 40px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 22px;
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  padding-left: 12px;
}

.Input:focus {
  outline: none;
}

.SendButton {
  width: 100%;
  background-color: #4990e2;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 16px 96px;
  margin-top: 10px;
  font-size: 16px;
  text-transform: uppercase;
}

.Link {
  text-decoration: none;
}
