.NewsItem {
  text-align: left;
  box-sizing: border-box;
}

.NewsItem > img {
  width: 100%;
}

.Category {
  text-transform: uppercase;
  font-family: Lato;
  font-weight: 400;
  line-height: 12px;
  font-size: 10px;
}

.Image {
  width: 100%;
  height: auto;
}

.ImageWrapper {
  margin-top: 8px;
  position: relative;
}

.ButtonOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s;
}

.ImageWrapper:hover .ButtonOverlay {
  opacity: 1;
}

.Button {
  width: 110px;
  height: 35px;
  border: 1px solid #fff;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  outline:none;
  cursor: pointer;
}

.NewsItem:nth-child(n+4) .Image {
  display: none;
}

.Title {
  margin: 15px 0px 10px 0px;
  font-family: Lato;
  font-weight: 400;
  font-size: 17px;
  color: #000000;
  letter-spacing: 0;
}

.Author {
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  line-height: 18px;
  font-style: italic;
  font-size: 13px;
  color: #808080;
}

.Author > img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 7px;
}

.Description {
  margin-top: 20px;
  margin-bottom: 60px;
  font-family: 'Open Sans', sans-serif;
  line-height: 19px;
  font-size: 14px;
  color: #686868;
  letter-spacing: 0;
}

@media (min-width: 750px) {
    .NewsItem:first-child {
      grid-column: 1/3;
    }

    .NewsItem:first-child p.Description {
      display: none;
    }

    .NewsItem:first-child h2.Title {
      font-size: 29px;
    }
}

@media (min-width: 1170px) {
  .NewsItem {
    margin: 10px;
    width: 360px;
  }
  .NewsItem:first-child {
    flex-basis: 555px;
  }
  .NewsItem:nth-child(2) {
    width: 262px;
  }
  .NewsItem:nth-child(3) {
    width: 262px;
  }
}
