.Button {
  text-align: center;
  padding: 6px 18px;
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  border-radius: 15px;
  margin: 10px 10px 10px 0px;
  cursor: pointer;
}

.Red {
  border-color: #D0011B;
  color: #D0011B;
}

.RedActive {
  color: white;
  background-color: #D0011B;
  border-color: #D0011B;
}

.Purple {
  border-color: #BD10E0;
  color: #BD10E0;
}

.PurpleActive {
  color: white;
  background-color: #BD10E0;
  border-color: #BD10E0;
}

.Blue {
  border-color: #4A90E2;
  color: #4A90E2;
}

.BlueActive {
  color: white;
  background-color: #4A90E2;
  border-color: #4A90E2;
}

.Green {
  border-color: #7CBB37;
  color: #7CBB37;
}

.GreenActive {
  color: white;
  background-color: #7CBB37;
  border-color: #7CBB37;
}

.Orange {
  border-color: #F5A623;
  color: #F5A623;
}

.OrangeActive {
  color: white;
  background-color: #F5A623;
  border-color: #F5A623;
}

.Button {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.Button:hover {
  box-shadow: 0 10px 10px rgba(0,0,0,0.22);
}
